# Ciencia de datos en Python
## Laboratorio #2 Sintaxis y Estructura de Datos


### Otto Chamo - 19001395
### SecciÃ³n V

# Parte 1

## Ejercicio #1

In [10]:
def numToTime(seconds: int):
    isInt = (isinstance(seconds, int))
    if (isInt):
        hours = int((seconds / 3600))
        minutes = int(((seconds % 3600) / 60))
        sec = int(seconds % 60)
        print("Horas: {hours}, Minutos: {min}, Segundos: {sec}".format(hours = hours, min = minutes, sec = sec))
    else:
        print("El valor que debe ingresar deberia ser un numero entero")


numToTime(2743)
numToTime(5871)
numToTime("34")

Horas: 0, Minutos: 45, Segundos: 43
Horas: 1, Minutos: 37, Segundos: 51
El valor que debe ingresar deberia ser un numero entero

## Ejercicio 2

In [26]:
def triangularPattern(rows: int, symbol: str):
    # primer triangulo
    
    for i in range(0, rows):
        for j in range(0, i + 1):
            print(symbol, end = ' ')
        print('\r')

    # segundo triangulo
    print("\n")
    spaceCounter = 0
    for i in range(rows, -1, -1):
        
        if (spaceCounter > 0):
            for k in range(0, spaceCounter):
                print(' ', end = ' ')
        spaceCounter += 1
        for j in range(0, i):
            print(symbol, end = ' ')
        print('\r')
        
        
    # tercer triangulo
    print("\n")
    for i in range(rows, -1, -1):
        for j in range(0, i):
            print(symbol, end = ' ')
        print('\r')

    # cuarto triangulo
    spaceCounter = rows
    for i in range(0, rows + 1):
        if (spaceCounter > 0):
            for k in range(spaceCounter, 0, -1):
                print(' ', end = ' ')
        spaceCounter -= 1
        for j in range(0, i):
            print(symbol, end = ' ')
        print('\r')

    


triangularPattern(4, "*")

*
* *
* * *
* * * *


* * * *
  * * *
    * *
      *



* * * *
* * *
* *
*


      *
    * *
  * * *
* * * *

## Ejercicio 4

In [29]:
def tuple_to_string(tupl: tuple):
    result = ''.join(map(str, tupl))
    print("tupla a string es: ", result)

tuple_to_string((10, 20, 40, 5, 70))
tuple_to_string(('a','b', 'c', 'd', 'e'))

tupla a string es:  102040570
tupla a string es:  abcde

## Ejercicio 5

In [30]:
def delete_empty_tuples(list_of_tuples):
    notEmptyTuples = [t for t in list_of_tuples if t]
    print(notEmptyTuples)

delete_empty_tuples([(), (), ("X",), ("a", "b"), ("a", "b", "c"), ("d")])

[('X',), ('a', 'b'), ('a', 'b', 'c'), 'd']

## Ejercicio 6

In [40]:
def mean_of_tuple(list_of_tuples: list[tuple]):
    result = [sum(tupl) / len(tupl) for tupl in list_of_tuples]
    print(result)
    
mean_of_tuple(((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32)))

[10.5, 44.0, 58.0]